BR2_arm=y
BR2_arm1176jzf_s=y
BR2_ARM_EABIHF=y
BR2_TOOLCHAIN_BUILDROOT_CXX=n

BR2_TARGET_GENERIC_HOSTNAME="cyberdeck"
BR2_TARGET_GENERIC_ISSUE="Cyberdeck OS"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_CYBERDECK_PATH)/board/cyberdeck/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_CYBERDECK_PATH)/board/cyberdeck/post-build.sh"

BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_SDL2=y
BR2_PACKAGE_SDL2_TTF=y
BR2_PACKAGE_DEJAVU=y
BR2_PACKAGE_CYBERDECK_OS=y

BR2_PACKAGE_KMOD=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_MOUNT=y

BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_TAR=n
